<div class="sw_wrapper">
    <div class="sw_panel sw_panel-outline sw_wd-60 sw_mlr-auto sw_mtb-5">
        <div class="sw_panel-wrapper">
            <div [ngClass]="{'sw_notification': true, 'bg-warning': !loginSuccess, 'bg-success': loginSuccess}">
                <div *ngIf="loginSuccess; else validationErrors" class="st-white">Login successful!</div>
                <div *ngIf="!loginSuccess" class="st-white">Please fill out all fields.</div>
                <ng-template #validationErrors>
                    <div *ngIf="submitted && (!user.email || !user.password)" class="st-white">Please fill out all fields.</div>
                </ng-template>
            </div>
            <form class="sw_form" (ngSubmit)="login()">
                <h2 class="sw_panel-title">LOGIN</h2>
                <hr class="sw_hr" />
                
                <label for="email">Email address</label>
                <input type="email" class="sw_form-input" id="email" [(ngModel)]="user.email" name="email" required="required" />

                <label for="password">Password</label>
                <input type="password" class="sw_form-input" id="password" [(ngModel)]="user.password" name="password" required="required" />
                
                <button type="submit" class="sw_btn">Login</button>
            </form>
            <p class="font_xd-2">New user? Register <a href="/signup" class="font_xd-2">here</a></p>
        </div>
    </div>
</div>